$dial-color: gray;
$dial-width: 2;
$hand-color: #3f3f3f;
$hand-width: 16;

html {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#display-frame {
    border: solid 1px $dial-color;
    border-radius: 2px;
    height: 168px;
    margin: 0px 0px 70px 0px;
    padding: 40px;
    width: 440px;
}

#display {
    height: 168px;
    width: 448px;
}

.clock-dial {
    fill: none;
    stroke: $dial-color;
    stroke-width: $dial-width;
}

.clock-center-point {
    fill: $hand-color;
    r: $hand-width / 2;
}

.clock-hour-hand {
    stroke: $hand-color;
    stroke-width: $hand-width;
}

.clock-minute-hand {
    stroke: $hand-color;
    stroke-width: $hand-width;
}
